.navbar {
    background-image: linear-gradient(to right, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    display: inline;
  }
  
  .nav-list li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-list li a:hover {
    background-color: #555;
    color: #fff;
  }